*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
h1{
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

a{
    text-decoration: none;
}

a.links{
    display: none;
}
.content{
    width: 500px;
    min-height: 560px;
    margin: 6% auto;
    position: relative;
}

p{
    margin-bottom:15px;
}
   
.content p:first-child{
    margin: 0px;
}
   
label{
    color: #405c60;
    position: relative;
}

::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
}
   
input:-moz-placeholder,textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
}

input {
    outline: none;
}

input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #007bff;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
   
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.2s linear;
}

input[type="submit"]:hover{
    background: #0000FF;
    transition: 3s;
}

.link{
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
   
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
}
   
.form{
    position: absolute;
    top: 0px;
    width: 88%;   
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
     
    -webkit-box-shadow: 5px;
    border-radius: 5px;
     
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
   
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px 1px rgba(0,0,0, .15);
}

header navbar ul li {
    display: inline-block;
    padding: 20px 5px;
}

header navbar ul li a {
    text-decoration: none;
    color: white;
}

header span {
    color: white;
    margin-right: 10px;
}

header span a {
    color: white;
    font-weight: bold;
}

header navbar ul li:hover {
    background-color: #6a1b9a;
    cursor: pointer;
    user-select: none;
}

body {
    padding-top: 80px;
}

.card-form {
    width: 80vw;
    margin-left: calc(10vw - 20px);
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.15);
    padding: 20px;
    border-radius: 5px;
}

.mg-t-10 {
    margin-top:10px;
}