<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" media="screen" />
</head>
<body>
	<div class="container">
		<table class="table">
			{% include 'menu.html' %}
			<thead>
				<tr>
					<th>Quantidade de Usuario(s):</th>
					<th>Quantidade Tarefa:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ quantidade_user }}</td>
					<td>{{ quantidade_tarefa }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>