<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" media="screen" />
</head>
<body>
    {% include 'menu.html' %}
    <form action='/cadastrar_tarefa' method="POST" class="card-form">
        <label class="mg-t-10">Título</label>
        <input type="text" name="titulo_tarefa"/>

        <label class="mg-t-10">Descrição</label>
        <input type="text" name="desc_tarefa"/>

        <label class="mg-t-10">Responsável</label>
        <input type="text" name="responsavel_tarefa" />

        <input type="submit">
    </form>
</body>
</html>