<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" media="screen" />
</head>
<body>
    <div class="content">
        <div class=" form">
            <h1>Nova tarefa</h1>
            {% include 'menu.html' %}
            <form action='/cadastrar_tarefa' method="POST">
                <label class="mg-t-10">TItulo</label>
                <input type="text" name="titulo_tarefa"/>

                <label class="mg-t-10">Descricao</label>
                <input type="text" name="desc_tarefa"/>

                <label class="mg-t-10">Responsavel</label>
                <input type="text" name="responsavel_tarefa" />

                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>